@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="container py-4">
        <div class="jumbotron text-center">
            <h1>Piccolo</h1>
            <p class="lead">A tiny url with a tremendous power. Brand, track and optimize every touchpoint with Piccolo, the world's leading link management platform.</p>
            <p><a href="@Url.RouteUrl("CreateUrl")" class="btn btn-success btn-lg">Get Started &raquo;</a></p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-7 text-left">
                <p class="lead">Build the engaging experience of a desktop on a fraction of the screen. Detect the destination for your users and route them accordingly.</p>
            </div>
            <div class="col-md-2 col-md-offset-2 text-center">
                <h2 class="mt-0 mb-2">Shrink</h2>
                <i class="glyphicon glyphicon-compressed glyphicon-lg"></i>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-default">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-2 text-center">
                <h2 class="mt-0 mb-2">Share</h2>
                <i class="glyphicon glyphicon-share glyphicon-lg"></i>
            </div>
            <div class="col-md-7 col-md-offset-2 text-left">
                <p class="lead">Consistency is what makes a good brand great. Create custom links that carry your branding across every device and channel.</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-7 text-left">
                <p class="lead">Track individual link analytics and measure campaign performance across teams and channels, all in one location. All in real-time.</p>
            </div>
            <div class="col-md-2 col-md-offset-2 text-center">
                <h2 class="mt-0 mb-2">Analyze</h2>
                <i class="glyphicon glyphicon-signal glyphicon-lg"></i>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid bg-default">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>2,563,239</h2>
                <p class="lead text-muted">Unique links</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>1,937,029</h2>
                <p class="lead text-muted">Sites indexed</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>348,148</h2>
                <p class="lead text-muted">User community</p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-12 text-center">
                <a href="@Url.RouteUrl("CreateUrl")" class="btn btn-success btn-lg">Get Started &raquo;</a>
            </div>
        </div>
    </div>
</div>
