@model List<Piccolo.Models.ShortUrl>
@{
    ViewBag.Title = "SuperSecret";
}

<h2>SuperSecret</h2>

<ul>
    @foreach (var u in Model)
    {
        <li>
            @u.ApplicationUser.UserName
            <small>@u.LongUrl</small>
        </li>
    }
</ul>